@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Lexend:wght@100..900&display=swap');

:root{ /* Global Variables */
    --navbar-background-color: rgb(40,40,161);
    --navbar-text-color: rgb(255, 255, 255);
    --navbar-hover-color: rgb(255, 240, 142);
}

h1, h2, h3, h4, h5, h6, p{
    margin-left: 20px; 
    margin-right: 20px;
}

body{
    font-family: "Lexend", sans-serif;
    font-size: 100%;
}

nav{
    ul{
        background-color: var(--navbar-background-color);
        list-style-type: none;
        margin: 0;
        padding: 5px;
    }
    
    li{
        margin: 0px 5px; /* margin with 2 values sets top&bottom and left&right*/
        padding: 5px;
        display: inline;
        a{
            color: var(--navbar-text-color);
        }
    }

    li:hover{
        background-color: var(--navbar-hover-color);
    }

}