@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

:root{ /* Global Variables */
    /* --global-background-color: #4b331f;
    --navbar-background-color: #7a9e71;
    --navbar-text-color: rgb(0, 0, 0);
    --navbar-hover-color: #baffb0;
    --section-background-color: #F1E0C5;
    --section-accent-color: #d8c5a7;
    --link-color: #DA667B; */

    --global-background-color: #252525;
    --navbar-background-color: #a8a8a8;
    --navbar-text-color: rgb(0, 0, 0);
    --navbar-hover-color: #f91272;
    --section-background-color: #dadada;
    --section-accent-color: #b7b7b7;
    --link-color: #f91272;

    /* rgb(255, 255, 204)rgb(102, 51, 0)rgb(255, 255, 51) */
}

.banner {
    width: 100%;
    max-height: 180px;
    margin-bottom: 1rem;
}

.section{
    background-color: var(--section-background-color);
    margin: 1rem 0;
    padding: 1rem;
}

.section-accent{
    background-color: var(--section-accent-color);
    margin: 1rem 0;
    padding: 1rem;
}


h1, h2, h3 {
    margin-top: 0.5rem;
}

a {
    color: var(--link-color);
}

ul{
    text-align: left;
}

body{
    width: 90%;
    background-color: var(--global-background-color);
    margin: 1rem auto; /* margin with 2 values sets top&bottom and left&right*/
    max-width: 60rem;
    font-family: "Jersey 20", sans-serif;
    font-size: 1rem;
}

nav{
    text-align: center;
    width: 100%;
    background-color: var(--navbar-background-color);
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    
    a{
        display: inline-block;
        font-size: 1rem;
        width: var(--navlink-width);  /* 19.589% is max */
        color: var(--navbar-text-color);
        text-decoration: none;
        padding: 0.5rem 0;
        margin: 0;
        vertical-align: middle;
    }
    
    .dropdown{
        overflow: hidden;
        display: inline-block;
        padding: 0.43rem 0;
        margin: 0;
        width: var(--navlink-width);
        vertical-align: middle;

        .dropbtn{
            font-size: 1rem;
            border: none;
            outline: none;
            color: var(--navbar-text-color);
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }
    }

    .dropdown-content {
        display: none;
        position: absolute;
        margin-top: 0.3rem;
        background-color: var(--navbar-background-color);
        min-width: 6.5rem;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

        a {
            float: none;
            color: var(--navbar-text-color);
            padding: 0.3rem;
            margin: 0;
            text-decoration: none;
            display: block;
            text-align: left;
            width: 6.5rem;
        }
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    a:hover, .dropdown:hover{
        background-color: var(--navbar-hover-color);
    }

    /* Turn navbar into a column when screen is less than 500 px */
    @media screen and (max-width: 520px) {
        flex-direction: column;
        
        a,.dropdown{
          float: none;
          padding: 0.3em;
          margin: auto;
          width: 95%;
          text-align: left; /* If you want the text to be left-aligned on small screens */
          .dropbtn{
            padding: 0;
          }
        }
    }

}

.column{
    flex: 50%; 
    text-align: center;
}

.centered-flexbox{
    display: flex; 
    justify-content: center;
}

.history-image{
    flex: 50%;
    max-width: 50%;
    margin: 0.7rem;
}