@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

:root{ /* Global Variables */

    /* Cafe theme */
    /* --global-background-color: #4b331f;
    --navbar-background-color: #c0e7e2;
    --navbar-text-color: rgb(0, 0, 0);
    --navbar-hover-color: #d7fdf8;
    --section-background-color: #fff1db;
    --section-light-background-color: #fff6e7;
    --section-accent-color: #d7fdf8;
    --link-color: #DA667B; */

    /* Grey theme */
    /* --global-background-color: #252525;
    --navbar-background-color: #a8a8a8;
    --navbar-text-color: rgb(0, 0, 0);
    --navbar-hover-color: #f91272;
    --section-background-color: #dadada;
    --section-accent-color: #b7b7b7;
    --link-color: #f91272;
    --colorful-background: #ea89b1;
    --text-color:rgb(0, 0, 0); */

    /* Black theme */
    --global-background-color: #252525;
    --navbar-background-color: #181818;
    --navbar-text-color: rgb(255, 255, 255);
    --navbar-hover-color: #f91272;
    --section-background-color: #181818;
    --section-accent-color: #40375a;
    --section-light-color: #AA8BBB;
    --link-color: #FF579D;
    --colorful-background: #ea89b1;
    --text-color:rgb(255, 255, 255);
    
    --navlink-width: 19%;
    --navlink-text-size: 1.2rem;

}

.banner {
    box-sizing: border-box;
    width: 100%;
    border: 10px solid black;
    margin-bottom: 1rem;
}

.graphic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 40rem;
    margin-bottom: 1rem;
}

.section{
    background-color: var(--section-background-color);
    margin: 1rem 0;
    padding: 1rem 2rem;
}

.section-accent{
    background-color: var(--section-accent-color);
    margin: 1rem 0;
    padding: 1rem;
}

h1, h2, h3 {
    margin-top: 0.5rem;
    text-align: center;
}

a {
    color: var(--link-color);
}

ul{
    text-align: left;
}

body{
    width: 90%;
    background-color: var(--global-background-color);
    background-image: url(assets/tile4.png);
    background-attachment: fixed;
    margin: 1rem auto; /* margin with 2 values sets top&bottom and left&right*/
    max-width: 55rem;
    font-family: "Jersey 20", sans-serif;
    font-size: 1.2rem;
    color:var(--text-color);
}

nav{
    text-align: center;
    width: 100%;
    background-color: var(--navbar-background-color);
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    
    a{
        display: inline-block;
        font-size: var(--navlink-text-size);
        width: var(--navlink-width);  /* 19.589% is max */
        color: var(--navbar-text-color);
        text-decoration: none;
        padding: 0.5rem 0;
        margin: 0;
        vertical-align: middle;
    }
    
    .dropdown{
        overflow: hidden;
        display: inline-block;
        padding: 0.43rem 0;
        margin: 0;
        width: var(--navlink-width);
        vertical-align: middle;

        .dropbtn{
            font-size: var(--navlink-text-size);
            border: none;
            outline: none;
            color: var(--navbar-text-color);
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }
    }

    .dropdown-content {
        display: none;
        position: absolute;
        margin-top: 0.3rem;
        background-color: var(--navbar-background-color);
        width: 10.45rem;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

        a {
            float: none;
            color: var(--navbar-text-color);
            padding: 0.3rem;
            margin: 0;
            text-decoration: none;
            display: block;
            text-align: left;
            width: 9.85rem;
        }
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    a:hover, .dropdown:hover{
        background-color: var(--navbar-hover-color);
    }

    /* Turn navbar into a column when screen is less than 500 px */
    @media screen and (max-width: 540px) {
        flex-direction: column;
        
        a,.dropdown{
          float: none;
          padding: 0.3em;
          margin: auto;
          width: 95%;
          text-align: left; /* If you want the text to be left-aligned on small screens */
          .dropbtn{
            padding: 0;
          }
        }
    }

}

.column{
    margin:auto;
    text-align: center;
}

.center-insides{
    display: flex; 
    justify-content: center;
}

.flex-image{
    flex: 50%;
    max-width: 50%;
    margin: 0.7rem;
}

.centered-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



/* --------- Database Styling ----------- */

.row {
    margin: 3rem auto;
    padding: 1rem;
    width: 90%;
    text-align: center;
    background-color: var(--section-light-background-color);
    border: 2px solid #878787;
}

.titleSection{
    display: flex;
    padding: 1rem;

    .title{
        width: 80%;
        font-size: xx-large;
        text-align: left;
    }
    .type{
        width: 20%;
        min-width: 7.5rem;
        display: flex;
        flex-direction: column;

        .typebutton{
            font-family: "Jersey 20", sans-serif;
            font-size: large;
            margin: 0.2rem;
            margin-right: 1rem;
            border: outset;
            border-color: black;
            background-color: var(--section-light-color);
            text-align: center;
            text-decoration: none;
            display: inline-block;
            
        }
        .typebutton:hover {
            background-color: var(--navbar-hover-color);
        }
    }
}

.tagbar{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 0.5rem;
    padding: 0rem;
    align-items: center;
    overflow:hidden;
    background-color: var(--section-accent-color);
}

.taglist {
    display: flex;
    overflow: scroll;
}

.tagbutton {
    display: inline-block;
    margin: 0.5rem 0.8rem;
    font-family: "Jersey 20", sans-serif;
    font-size: large;
}

.noteDropDownDiv {
    display: inline-block;
}

.noteDropDownButton{
    display: inline-block;
    width: 0.9rem;
    height: 100%;
    margin: 0.7rem 1rem;
}

/* initially hidden */
.notesection{
    text-align: left;
    margin: auto;
    padding: 0.1rem 1rem;
    box-sizing: border-box;
    width: 90%;
    background-color: var(--section-accent-color);
    display: none;
}

.show {
    display: block;
}


